<!doctype html>
<html lang="en">
  <head>
    <!-- TODO: extend me here -->
    <title>Christian Ost</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% favicons "src/_favicon.svg" %}

    <!-- critical css bundle -->
    {% capture css %}
      {% include "css-reset.css" %}
      {% include "base.css" %}
      {% getBundle "css" %}
    {% endcapture %}
    <!-- -- TODO: minify -->
    <style>
      {{ css }}
    </style>

    <!-- non-critical css -->
    <link rel="stylesheet" href="{% getBundleFileUrl 'css' 'defer' %}">
  </head>
  <body>
    {{ content }}
  </body>
</html>
