extends /layouts/base

block title
  title christianost.de – CV

block content
  h1 Christian Ost

  p Sorry, this page is still in progress. Until I'm finished you can check out #[a(href="/2018_cv_christian-ost.pdf", title="Formal CV of Christian Ost") my formal CV].
