extends /layouts/base

block title
  title christianost.de – CV

block content
  h1 Christian Ost

  p Software developer from Bamberg.

  h2 Experience

  h3 since November 2015: Fullstack Developer at #[a(href="https://proxipedia.io", title="PROXIPEDIA") PROXIPEDIA]

  span(class="comment") Between November 2015 and December 2016 as working student, since January 2017 fulltime
  
  p At PROXIPEDIA I'm working on our React Native based app, inlcuding the implementation and adaption of native libraries for both iOS and Android, our GraphQL-server based on the Node.js framework Express and our CMS, build with React. Besides all frontend development I'm taking care of operational tasks for testing, building and deploying the applications to the different servers or stores.


  h2 Education

  h3 2014 - 2016: Master of Science "Computing in the Humanities"

  h3 2010 - 2013: Bachelor of Arts

  h2 Skills

  dl
    dt Programming/Markup languages
    dd Main knowledge in JavaScript (ES6/ES7/...) and Java, HTML (including markup languages like Pug or Mustache) and CSS. I also build projects with Elm and Reason, wrote bash scripts for automating tasks and adapted Ruby-based build configurations. Markdown is my favourite choice for documentation of all kinds.

    dt Frameworks
    dd Main focus on React and React Native, used Vue.js for my master thesis, played around with Elm and Reason-React. In university I additionally implemented applications with the Play and Spring Framework.

    dt Tools
    dd Used webpack, brunch, Fastlane, Gulp, simple npm-scripts for building, ava and Jest for testing, eslint and flow for linting and type-checking. And of course: Git for versioning.

  h2 Other noticeable achievements

  p I...

  ul
    li drove with an old car from southern Germany to the Wadi Rum in Jordan,
    li took part in several half marathons,
    li am allowed to drive trucks and lorries while volunteering for the Bavarian Red Cross.