/* TODO get better CSS-reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}

h1 {
  font-size: 2em;
  line-height: 2.2em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

main {
  width: 75vw;
  max-width: 50rem;
  height: 100vh;
  margin: 25vh 1rem 0;
  padding: 1rem 0;
  font-size: 1rem;
}

.list--noStyle {
  list-style: none;
}

.emoji__container {
  width: 5rem;
  height: 5rem;
  background-position: center;
  background-size: cover;
}

.emoji__container--initial {
  border-radius: 50%;
  background-color: gray;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
