- 
  var contacts = [
     { label: 'Mail', link: 'mailto:hallo@christianost.de?subject="Hello Christian!"', title: 'Write me an email!' },
     { label: 'GitHub', link: 'https://github.com/ca057', tile: 'ca057 at GitHub' },
     { label: 'keybase', link: 'https://keybase.io/christianost', title: 'christianost at keybase' },
     { label: 'PGP Key', link: 'http://pgp.mit.edu/pks/lookup?op=get&search=0x41980624AEC84355', title: 'My PGP key' },
     { label: 'Twitter', link: 'https://twitter.com/_christianost', title: '_christianost at Twitter' }
  ]

div(class="contacts")
  ul(class="list--noStyle list--vertical")
    each item in contacts
      li
        a(href=item.link, title=item.title, class="link")= item.label