:root {
  --spacing: 1rem;
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-3: calc(var(--spacing) * 3);

  --font-size-base: clamp(var(--spacing), 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(1.75rem, 2.38vw + 1.85rem, 2.5rem);

  --color-text: #333333;
  --color-bg: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f0f0f0;
    --color-bg: #333333;
  }
}
