extends layouts/base

block content
  span(class="large" id="emoji") 🤖

  h1(class="header") Christian Ost
    
  p Software developer from Bamberg, working as frontend developer for #[a(href="https://proxipedia.io", title="PROXIPEDIA") PROXIPEDIA]. Check out what I've done so far in my #[a(href="/cv", title="CV of Christian Ost") CV].

  p Get in contact with me:
  include partials/contacts.pug

block scripts
  script(src="app.js")
  script.
    require('index.js')
