extends layouts/base

block content
  div.headline
    include assets/openmoji_waving-hand.svg
    h1 Hi!
    
  p I'm Christian, a software developer from #[a(href="https://map.what3words.com/scales.twirls.brochure", title="Bamberg on what3words") Bamberg] working currently as fullstack developer for #[a(href="https://proxipedia.io", title="PROXIPEDIA") PROXIPEDIA]. Want to know more? Check #[a(href="/2018_cv_christian-ost.pdf", title="CV as PDF of Christian Ost") my CV] or talk to me over a beer or coffee. 
  
  p Get in contact with me:

  include partials/contacts.pug
