extends layouts/base.pug

block content
  div(class="emoji__container")

  h1(class="header") Christian Ost
    
  p Software developer from Bamberg, working as frontend developer for PROXIPEDIA.
  
  include partials/contacts.pug

