:root {
  --color-text: #212121;
  --spacing-quarter: calc(var(--spacing) / 4);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing: 1rem;
  --spacing-double: calc(var(--spacing) * 2);
  --font-monospace: Menlo, Monaco, 'Roboto Mono', 'DejaVu Sans Mono',
    'Ubuntu Mono', 'Segoe UI Mono', 'Liberation Mono', monospace;
  --font-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
    Oxygen, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 16px/1.2 var(--font-sans-serif);
  color: var(--color-text);
}

h1 {
  font-size: 2rem;
  line-height: 2.2rem;
  margin: var(--spacing) 0;
  font-family: var(--font-monospace);
}

h2 {
  margin: var(--spacing) 0;
  font-family: var(--font-monospace);
}

h3 {
  margin: var(--spacing-half) 0;
  font-family: var(--font-sans-serif);
}

span,
p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: var(--spacing-half);
}

ul {
  display: block;
  list-style-type: '- ';
  margin: var(--spacing) 0;
  padding-left: var(--spacing-double);
}

li {
  font-size: 1rem;
  line-height: 1.5rem;
  display: list-item;
}

a {
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid var(--color-text);
}

main {
  width: 75vw;
  max-width: 50rem;
  margin: 25vh 1rem auto;
  padding: 1rem 0;
  font-size: 1rem;
}

footer {
  margin-top: var(--spacing-double);
}

footer,
footer * {
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: center;
  margin-bottom: var(--spacing-quarter);
}

.large {
  font-size: 5rem;
  line-height: 5rem;
}

.comment {
  font-size: 90%;
  font-style: italic;
}

a:link {
  border-bottom: 1px solid var(--color-text);
}

a:visited {
  border-bottom: 1px solid var(--color-text);
}

a:focus {
  border-bottom: none;
}

a:hover {
  border-bottom: none;
}

a:active {
  border-bottom: none;
}

.list--noStyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--vertical > li {
  display: inline;
  margin-right: var(--spacing-half);

  &:last-child {
    margin-right: 0;
  }
}

div.headline {
  margin: var(--spacing) 0;
}

div.headline > svg {
  height: 2rem;
  position: relative;
  top: 0.25rem;
}

div.headline > * {
  display: inline;
}
