---
import "../styles/variables.css";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { gpgKey } from "../data/gpg-key";
---

<Layout title="GPG Key">
  <h1>GPG Key</h1>
  <p>
    Please use my GPG key when reaching out to me via <a
      href="mailto:hallo@christianost.de">hallo@christianost.de</a
    >:
  </p>
  <section class="code">
    <pre>{gpgKey}</pre>
  </section>
  <Footer />
</Layout>

<style>
  pre {
    font-size: 0.8rem;
    overflow-x: scroll;
  }
  .code {
    display: flex;
    justify-content: center;
  }
</style>
