---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint">
  <h1>Imprint</h1>
  <h2>Contact</h2>
  <p>
    Christian Ost
    <br />
    <a href="mailto:hallo@christianost.de">hallo@christianost.de</a>
  </p>

  <h2>Data Privacy Information</h2>
  <p>
    This site does not use any form of personalised tracking. No personally
    identifying information is collected, no tracking cookies are set.
  </p>
  <Footer />
</Layout>
