---
import "../styles/variables.css";
export interface Props {
  id?: string;
  onPress?: () => void;
}

const { onPress, id } = Astro.props as Props;

const uniqueId = id ?? `icon-bttn-${Math.random().toString()}`; // FIXME:
---

<button id={uniqueId}>
  <slot />
</button>

<script define:vars={{ uniqueId, onPress }}>
  if (onPress) {
    const button = document.getElementById(uniqueId);
    button.addEventListener("click", onPress);
  }
</script>

<style>
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--spacing) / 2);
    background-color: transparent;
    border: none;
  }

  button:focus,
  button:hover,
  button:active {
    text-decoration: none;
    background-color: var(--color-text);
    color: var(--color-bg);
    border-radius: calc(var(--spacing) / 2);
  }
</style>
