extends /layouts/base

block title
  title christianost.de – Imprint

block content
  h2(class="header") Imprint
    
  p Christian Ost

  p Albrecht-Dürer-Straße 4
    br
    | 96052 Bamberg

  p E-Mail: #[a(href="mailto:hallo@christianost.de?subject=Hello Christian!") hallo@christianost.de]
  