extends /layouts/base.pug

block content
  h2(class="header") Imprint
    
  p Christian Ost

  p Albrecht-Dürer-Straße
    br
    | Bamberg

  p E-Mail: #[a(href="mailto:hallo@christianost.de?subject=Hello Christian!") hallo@christianost.de]
