extends /layouts/base

block title
  title christianost.de – About Me

block content
  h1 Christian Ost

  p Software developer from Bamberg, working as frontend developer for #[a(href="https://proxipedia.io", title="PROXIPEDIA") PROXIPEDIA].

  h2 Education

  h3 2014 - 2016: Master of Science "Computing in the Humanities"

  h3 2010 - 2013: Bachelor of Arts