@import 'normalize.css';
@import './base.css';

:root {
  --color-text: #333333;
  --color-background: #fafafa;
  --spacing-quarter: calc(var(--spacing) / 4);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing: 1rem;
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-3: calc(var(--spacing) * 3);
  --width-text: 50rem;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

main {
  width: 100%;
  max-width: var(--width-text);
  min-height: 100vh;
  padding: var(--spacing-2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

footer {
  margin-top: auto;
}

footer * {
  font-size: 75%;
}

h1 {
  font-size: 2rem;
  line-height: 150%;
  margin: var(--spacing-3) 0 var(--spacing-2) 0;
}

h2 {
  margin: var(--spacing-3) 0 var(--spacing) 0;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing);
}

a,
a:link,
a:visited {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-skip: edges;
}

a:focus,
a:hover,
a:active {
  text-decoration: none;
  background-color: var(--color-text);
  color: var(--color-background);
}

*::selection {
  background-color: var(--color-text);
  color: var(--color-background);
}

a:focus::selection,
a:hover::selection,
a:active::selection {
  background-color: var(--color-background);
  color: var(--color-text);
}

ul {
  margin-top: 0;
}

li a {
  display: block;
}

li span {
  font-size: 75%;
}

@media all and (min-width: 450px) {
  body {
    font-size: 20px;
    line-height: 1.5;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media all and (min-width: 550px) {
  body {
    font-size: 22px;
    line-height: 1.5;
  }

  h1 {
    font-size: 3rem;
  }
}
