html
  block head
    include /head.pug
    block styles
      link(href="app.css", rel="stylesheet")
  
body
  main
    block content

  include /footer.pug

  script(src="app.js")
  script.
    require('index.js')