html(lang="en")
  block head
    block title
      title christianost.de
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="author", content="Christian Ost")
    meta(name="viewport", content="initial-scale=1")
    link(href="/app.css", rel="stylesheet")
  
body
  main
    block content

  include footer.pug

  block scripts