html(lang="en")
  block head
    block title
      title christianost.de
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="author", content="Christian Ost")
    meta(name="viewport", content="initial-scale=1")
    meta(name="theme-color" content="#FFFFFF")
    meta(name="description" content="Christian Ost is a fullstack JavaScript developer from Bamberg. Write me a mail to hallo@christianost.de!")
    link(href="/app.css", rel="stylesheet")
  
body
  main
    block content

  include footer.pug

  block scripts