footer
  nav #[a(href="/", title="Home") Home] 
    | &ndash; #[a(href="/imprint", title="Imprint") Imprint]
    | &ndash; #[a(href="/2018_cv_christian-ost.pdf", title="CV of Christian Ost as PDF") CV]

  p &copy; 2018 by Christian Ost