<!doctype html>

{{ set firstCoffee = coffees.images.at(0) }}
{{ set lastCoffee = coffees.images.at(-1) }}

<html lang="en">
  <head>
    <title>
      {{ coffees.images.length }}
      coffees
    </title>

    <meta
      name="description"
      content="A picture of every coffee I drank between {{ firstCoffee.day |> formatDate }} and {{ lastCoffee.day |> formatDate }}."
    >
    <meta name="author" content="Christian Ost">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://c.christianost.de">

    <style>
      {{ include "css-reset.css" }}
      {{ include "./index.css" }}
    </style>
    {{ js }}
      {{ include "./overlay.js" }}
    {{ /js }}
    <script>
      {{ getBundle "js" }}
    </script>
  </head>
  <body>
    <header>
      <h1>
        <span class="numeric">{{ coffees.images.length }}</span>
        coffees
      </h1>
    </header>
    <main>
      <p id="explainer">
        A picture of every coffee I drank between
        <span class="nw">{{ firstCoffee.day |> formatDate }}</span>
        and
        <span class="nw">{{ lastCoffee.day |> formatDate }}</span>.
      </p>
      <div class="c">
        {{ set allCoffees = coffees.images.toReversed() }}
        {{ for index of allCoffees.length }}
          {{ set coffee = allCoffees[index-1] }}
          {{ set countOfDay = Number(coffee.id.slice(8)) + 1 }}
          <div>
            <img
              id="{{ coffee.id }}"
              style="background: {{ coffee.images.blurhash |> blurhashColorRgb }}"
              src="https://c.christianost.de/{{ coffee.images['300'] }}"
              width="300"
              height="300"
              loading="{{ (index - 1) < 10 ? 'eager' : 'lazy' }}"
              decoding="async"
              alt="My {{ countOfDay  |> formatOrdinals }} coffee of {{ coffee.day |> formatDate }}."
            >
            </img>
            <div>
              <p>{{ coffee.day }}</p>
            </div>
          </div>
          {{ /for }}
      </div>
    </main>
    <footer>
      <p class="info footnote">
        by
        <a href="/">Christian Ost</a>
        – last updated on
        <span class="nw">{{ coffees.createdAt.split("T").at(0) |> formatDate }}</span>
      </p>
    </footer>
  </body>
</html>
