{{ define "styles" }}
{{ $stylesheet := .Site.Data.webpack.killedByGoogle }}
{{ with $stylesheet.css }}
<link href="{{ relURL . }}" rel="stylesheet" />
{{ end }}{{ end }}

{{ define "main" }}
<div>
  <div>
    Sort by <button>start</button> <button>duration</button>
    <button>end</button>
  </div>
  <div><button>ASC</button> <button>DESC</button></div>
</div>

<div id="tooltip"></div>
<svg id="visualisation"></svg>
{{ end }}

{{ define "scripts" }}
{{ $script := .Site.Data.webpack.killedByGoogle }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
{{ end }}
