{{ define "styles" }}
{{ $stylesheet := .Site.Data.webpack.killedByGoogle }}
{{ with $stylesheet.css }}
<link href="{{ relURL . }}" rel="stylesheet" />
{{ end }}
{{ end }}

{{ define "scripts" }}
<link
  rel="preload"
  href="https://raw.githubusercontent.com/codyogden/killedbygoogle/master/graveyard.json"
  as="fetch"
/>
{{ $script := .Site.Data.webpack.killedByGoogle }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
{{ end }}

{{ define "main" }}
<main>
  <h1>Time kills Google</h1>

  <p>
    <a href="https://killedbygoogle.com/">Killed by Google</a> lists all
    products Google started and stopped over time. Here you can explore them on
    a timeline.
  </p>

  <div class="controls">
    <div>
      Sort by <button>start</button> <button>duration</button>
      <button>end</button>
    </div>
    <div><button>ASC</button> <button>DESC</button></div>
  </div>

  <div id="tooltip"></div>
  <svg id="visualisation"></svg>
</main>
{{ end }}
