{{ define "styles" }}
{{ $stylesheet := .Site.Data.webpack.killedByGoogle }}
{{ with $stylesheet.css }}
<link href="{{ relURL . }}" rel="stylesheet" />
{{ end }}{{ end }}

{{ define "main" }}
<main>
  <h1>Time kills Google</h1>

  <p>
    <a href="https://killedbygoogle.com/">Killed by Google</a> lists all product
    Google started and stopped over time. This visualisation displays the data
    on a timeline.
  </p>

  <div class="controls">
    <div>
      Sort by <button>start</button> <button>duration</button>
      <button>end</button>
    </div>
    <div><button>ASC</button> <button>DESC</button></div>
  </div>

  <div id="tooltip"></div>
  <svg id="visualisation"></svg>
</main>
{{ end }}

{{ define "scripts" }}
{{ $script := .Site.Data.webpack.killedByGoogle }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
{{ end }}
