---
layout: base.vto
title: Imprint
---

<main>
  <h1>Imprint</h1>

  <h2>Data Privacy Information</h2>
  <p>
    This site does not use any form of personalised tracking. No personally identifying information is collected, no
    tracking cookies are set.
  </p>
</main>
