extends /base.pug

block content
  h1(class="header") Christian Ost
    
  p Frontend developer from Bamberg, Germany, currently working for PROXIPEDIA.
    
  div(class="contacts")
    ul
      each val in [1, 2, 3]
        li= val
