extends layouts/base.pug

block content
  div.headline
    h1 Hi!
    
  p I'm Christian, a developer living in #[a(href="https://map.what3words.com/scales.twirls.brochure", title="Barcelona on what3words") Barcelona] working at #[a(href="https://typeform.com", title="Typeform") Typeform].

  p You want to know more? Check #[a(href="/2018_cv_christian-ost.pdf", title="CV of Christian Ost as PDF") my CV] or talk to me over a beer or coffee:
