@import 'normalize.css';

:root {
  --color-text: #1a3050;
  --color-accent: #fecb00;
  --spacing-quarter: calc(var(--spacing) / 4);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing: 1rem;
  --spacing-double: calc(var(--spacing) * 2);
  --font-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
    Oxygen, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  max-width: 50rem;
}

body {
  font: 20px/1.7 var(--font-sans-serif);
  color: var(--color-text);
}

h1 {
  text-transform: uppercase;
}

a,
p {
  margin-top: 0;
}

a,
a:link,
a:visited {
  color: var(--color-text);
  border-bottom: 0.15rem dashed var(--color-text);
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  border-bottom: 0.15rem solid var(--color-text);
}

.page {
  width: 100vw;
  min-height: 100vh;
  padding: 1.5rem;
  border-left: 0.5rem solid var(--color-accent);
}

#page-1 {
  display: flex;
  flex-direction: column;
}
