@import 'normalize.css';

@font-face {
  font-family: Inter Regular;
  src: url(assets/Inter-Regular.woff2) format('woff2'),
    url(assets/Inter-Regular.woff) format('woff');
}

:root {
  --color-text: #333333;
  --color-accent: #fecb00;
  --spacing-quarter: calc(var(--spacing) / 4);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing: 1rem;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-trice: calc(var(--spacing) * 3);
  --font-sans-serif-system: BlinkMacSystemFont, -apple-system, 'Segoe UI',
    Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    'Helvetica Neue';
  --width-text: 50rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font: 22px/1.5 var(--font-sans-serif-system), sans-serif;
  color: var(--color-text);
}

body.fonts-loaded {
  font-family: Inter Regular, var(--font-sans-serif-system), sans-serif;
}

main {
  height: 100%;
}

h1 {
  font-size: 3rem;
  line-height: 1.3;
  margin: var(--spacing-trice) 0 var(--spacing-double) 0;
}

a,
p {
  margin-top: 0;
  margin-bottom: var(--spacing-half);
}

a,
a:link,
a:visited {
  color: var(--color-text);
  border-bottom: 0.15rem dashed var(--color-text);
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  border-bottom: 0.15rem solid var(--color-text);
}

.page {
  width: 100vw;
  min-height: 100vh;
  padding: var(--spacing-double);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page > * {
  max-width: var(--width-text);
}
