@import 'normalize.css';

@font-face {
  font-family: Inter Regular;
  src: url(assets/Inter-Regular.woff2) format('woff2'),
    url(assets/Inter-Regular.woff) format('woff');
}

:root {
  --color-text: #333333;
  --color-accent: #fecb00;
  --color-background: #fafafa;
  --spacing-quarter: calc(var(--spacing) / 4);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing: 1rem;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-trice: calc(var(--spacing) * 3);
  --font-sans-serif-system: BlinkMacSystemFont, -apple-system, 'Segoe UI',
    Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    'Helvetica Neue';
  --width-text: 50rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font: 18px/1.5 var(--font-sans-serif-system), sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

body.fonts-loaded {
  font-family: Inter Regular, var(--font-sans-serif-system), sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer {
  margin-top: auto;
}

footer * {
  font-size: 75%;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin: var(--spacing-trice) 0 var(--spacing-double) 0;
}

a,
p {
  margin-top: 0;
  margin-bottom: var(--spacing-half);
}

a,
a:link,
a:visited {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-skip: edges;
}

a:focus,
a:hover,
a:active {
  text-decoration: none;
  background-color: var(--color-text);
  color: var(--color-background);
}

.page {
  width: 100%;
  max-width: var(--width-text);
  min-height: 100vh;
  padding: var(--spacing-double);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

*::selection {
  background-color: var(--color-text);
  color: var(--color-background);
}

a:focus::selection,
a:hover::selection,
a:active::selection {
  background-color: var(--color-background);
  color: var(--color-text);
}

@media all and (min-width: 450px) {
  body {
    font: 20px/1.5 var(--font-sans-serif-system), sans-serif;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media all and (min-width: 550px) {
  body {
    font: 22px/1.5 var(--font-sans-serif-system), sans-serif;
  }

  h1 {
    font-size: 3rem;
  }
}
